* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

section, header, footer {
  padding: 5%;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 4rem;
}

span {
  color: #F7CA18;
}

.no-padding {
  padding: 0;
}

.padded-10 {
  padding: 10%;
}

header {
  background-image: url(https://picsum.photos/1500/1000/?random);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.tl {
  background-image: url(https://picsum.photos/400/400/?random);
  background-position: center;
  background-size: cover;
}

.br {
  background-image: url(https://picsum.photos/400/400/?random);
  background-position: center;
  background-size: cover;
}
