<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style/main.css">
  <title>{{page.title}}</title>
</head>
<body>
  <!-- - - - - - - - - BANNER - - - - - - - -->
  <header class="grid-middle-center background-image header-vh">
    <div class="col-8">
      <h1><span>{{page.banner-title-span}}</span> {{page.banner-title}} </h1>
      <h3> the ultimate mattress solution </h3>
    </div>
  </header>
  {{content}}

  <!-- - - - - - - - - Footer - - - - - - - -->
  <footer class="grid footer">
    <div class="col-5_md-12 connect">
      <h2> let's <span>connect</span></h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="col-2_md-12">
    </div>
    <div class="col-5_md-12">
      <form method="POST" action="https://formspree.io/janellegiovenco@gmail.com">
        <input type="text" name="name" placeholder="your name">
        <input type="email" name="email" placeholder="your email">
        <textarea name="message" placeholder="your message"></textarea>
        <button type="submit">SUBMIT</button>
      </form>
    </div>
  </footer>
</body>
</html>
